Q1. Explain with an example each when to use a for loop and a while loop.

In [4]:
# find factorial number using for look
number = int(input("Enter your number:"))
factorial = 1
for i in range(1, number+1):
             factorial = factorial * i
             number = number - 1
print(factorial)

Enter your number: 5

120

In [ ]:
# find factorial number using while loop
factorial1 = 1
while number > 0:
    factorial1 = factorial1 * number 
    number = number - 1
print(factorial1)

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while

In [11]:
# using for loop
sum = 0
for i in range (11):
    sum = sum + i
print(sum)

55

In [15]:
# using while loop
sum = 0
num = 0
while num <= 10:
    sum = sum + num
    num = num + 1
print(sum)

55

In [ ]:
Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

You are required to take the units of electricity consumed in a month from the user as input.

Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

In [20]:
electricity_per_month = float( input("Enter your consumed electricity per month in units : "))
if electricity_per_month <= 100 :
    print("electricity bill is : " , (electricity_per_month * 4.5 ),"RS.")
    
elif electricity_per_month <= 200 and electricity_per_month > 100 :
    print("electricity bill is : " , (100 * 4.5 + (electricity_per_month - 100)*(6)),"RS.")
    
elif electricity_per_month <= 300 and electricity_per_month > 200 :
    print("electricity bill is : " , (100 * 4.5 + 100 * 6 + (electricity_per_month - 200) * (10) ),"RS.")
    
else :
    print("electricity bill is : " , (100 * 4.5 + 100 * 6 + 100 * 10 + (electricity_per_month - 300) * (20) ),"RS.")

Enter your consumed electricity per month in units :  310

electricity bill is :  2250.0 RS.

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [14]:
list =[]
for i in range (1,101):
    list.append(i)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [15]:
# using for loop 
list1 = []
for j in list :
    qube = j ** 3
    list1.append(qube)
print(list1)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [1]:
# using while loop
list2 = []
a = 1
while a < 101:
    qube = a ** 3
    a = a + 1
    list2.append(qube)
    
print(list2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [4]:
list3 = []
for i in list2:
    if i % 4 == 0 or i % 5 == 0:
        list3.append(i)
print(list3)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [9]:
string = " I want to become a data scientist"
vowel_count = 0
vowel = "AEIOUaeiou"
for char in string:
    if char in vowel:
        vowel_count += 1
print("number of vowel in string is: ", vowel_count)

number of vowel in string is:  12

In [ ]:
}